<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lavado de Dinero en Latinoamérica">
    <meta name="author" content="Grupo de Lavado de Dinero - HackHackers Buenos Aires">
    <title>Vincula - Lavado de Dinero en Latinoamérica</title>
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Lavado De Dinero</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
          </ul>
        </div>
      </div>
    </div>
	  <div id="headerwrap">
	    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="article">
              <h1>Todos los caminos conducen a Morgan</h1>
              <p>
                En la Argentina, 469 empresas de primera línea son investigadas por la justicia, acusadas de haber sido parte en maniobras de fuga y lavado de dinero. El monto total ascendería a unos 5 mil millones de dólares, según la denuncia realizada por el ex broker argentino de la banca JP Morgan, Hernán Arbizu, cuya función era captar activos de empresas para depositarlos en paraísos fiscales, entre ellos en Estados Unidos y Suiza.
              </p>
              <p>
                Las sumas millonarias en dólares eran administradas mediante trusts y fideicomisos que permitían ocultar la titularidad de esos activos no declarados ante la AFIP, la autoridad fiscal local, y que, mediante la modalidad de préstamos “back to back”, solían volver como préstamos otorgados en Argentina con garantía en los mismos activos. 
              </p>
              <p>
                En 2008, Arbizu se encontraba en su país natal cuando, apremiado por una maniobra de defraudación hacia uno de sus clientes, decide autodenunciarse a la justicia argentina y pide ser juzgado en su país, aportando un listado de diez hojas con las empresas y personas, casi en su totalidad argentinos, que habrían fugado y lavado dinero a través de de la banca JP Morgan New York. 
              </p>
              <p>
                Según declaró Arbizu, ese listado "compone una parte de los tan nombrados 150 mil millones de dólares que argentinos tienen depositados en el exterior". Entre las entidades mencionadas por el ex broker, figuran el Grupo Clarín, Asociación Empresaria Argentina (AEA), Autopistas del Sol, Edenor, Petrobras Argentina, Nordelta, la consultora TNS Gallup Argentina, Ledesma y Consultatio. La causa se encuentra desde entonces en sede judicial, actualmente radicada en la Sala II de la Cámara Nacional en lo Criminal y Correccional Federal.
              </p>
              <p>
                "Existe una tendencia natural de los bancos a hacer negocios espurios y por eso pagan sin mayor problema. Y eso no es un problema de la Argentina, es un problema a nivel mundial y allí está el ejemplo de JP Morgan", señala José Sbatella, Jefe de la Unidad de Información Financiera (UIF), querellante en la causa, quien denunció “presiones internacionales” para detener el avance de la caus
              </p>
              <p>
                Al respecto, el JP Morgan presentó en Estados Unidos dos denuncias penales contra Arbizu, una por defraudación y otra por hurto de información confidencial y activos. Como resultado, la justicia de ese país emitió una orden de captura y un pedido de extradición. En la Argentina, la sede local del JP Morgan lo querelló para impedirle el uso de los datos confidenciales que poseía desde su época de broker.  
              </p>
              <p>
                La maniobra pone al descubierto una modalidad global de los grandes operadores financieros internacionales que alimenta a una red de fuga y lavado de dinero con sumas multimillonarias cada año. Una verdadera economía clandestina que se mueve en los laberintos de complejos entramados donde la clave se encuentra en los paraísos fiscales sostenidos desde los centros económicos mundiales.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="viz-detail">Algunas de las empresas que conforman el listado de Arbizu.</p>
          <div class="col-lg-8 col-lg-offset-1">
            <script type='text/javascript' src='http://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 964px; height: 671px;'><noscript><a href='#'><img alt='Dashboard 1 ' src='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Em&#47;EmpresasinvolucradasenellavadodelJPMorgan&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='964' height='671' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='EmpresasinvolucradasenellavadodelJPMorgan&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Em&#47;EmpresasinvolucradasenellavadodelJPMorgan&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div><div style='width:964px;height:22px;padding:0px 10px 0px 0px;color:black;font:normal 8pt verdana,helvetica,arial,sans-serif;'><div style='float:right; padding-right:8px;'><a href='http://www.tableausoftware.com/public/about-tableau-products?ref=http://public.tableausoftware.com/views/EmpresasinvolucradasenellavadodelJPMorgan/Dashboard1' target='_blank'>Obtener información sobre Tableau</a></div></div>
          </div>
        </div>
        <div class="row">
          <p class="viz-detail">
            Relaciones entre los imputados por la lista de Arbizu con distintos números de cuenta usados por JP Morgan para el lavado de activos.
          </p>
          <div class="col-lg-8 col-lg-offset-1">
            <iframe width="960" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=GRAPH&amp;gc=true&amp;gd=true&amp;sdb=1&amp;rmax=100000&amp;q=select+col0%2C+col1%2C+col2+from+1D-lGwyy6MooDgMHs6HDZ6pQz1TP2-Ft0PNCYfLTg&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=&amp;uiversion=2&amp;state=%7B%22ps%22%3A%221_1_-7l_-1i_15_-6h_-1a_5_-1w_14_9_20_8_f_2j_o_2n_-18_1j_1b_7n_-1x_2x_82_-1k_3k_-8g_-1h_2z_7f_1k_30_6y_1u_r_-63_29_2f_-7f_-2b_o_u_-28_1f_-1r_e_n_1g_-2a_3h_-2l_t_1y_-2h_1m_2o_-89_-22_10_5l_-17_u_-5e_2h_2h_5r_6_2g_5r_y_z_5o_-20_2_-7y_-m_3f_-7z_-2e_7_-7i_-j_3_-8e_-y_h_37_2j_23_2a_2l_w_44_-1i_3i_8n_23_3j_85_2k_t_-5b_1n_21_6o_-5_20_7n_-7_14_5n_2j_13_4z_2j_6_-25_28_1x_w_a_b_-8d_-l_32_-c_-2d_m_63_-2m_l_5a_-2o_35_-20_-9_3w_-2m_-2_1n_-7j_-3_1m_-80_-4_36_-38_1n_33_6f_-1o_2i_34_-1y_28_49_-27_a_-8i_-8_25_89_-2_26_6x_-q_2t_-15_-h_16_-68_-2m_17_-6k_-2x_e_6o_j_d_59_1r_1u_-8c_h_1i_-6q_2v_3t_-7s_25_1p_-6e_j_19_-5w_31_1q_-7l_12_2q_8m_-2l_3u_-45_1y_s_-78_2f_1o_-4w_-2e_12_-4l_26_2w_-8b_1w_y_-42_d_c_-4e_-t_2e_4k_-2p_1s_81_h_1t_6b_-t_2l_2p_-2i_1j_-l_-1p_39_-8u_1u_27_42_-p_1v_-8c_2d_1h_5s_1y_3d_7d_d_3c_7c_2s_2u_-2n_-27_2r_-4b_-d_3g_4y_15_p_-5d_z_3p_-4v_o_q_-7n_2w_0_-6y_1m_1a_6m_-2k_4_n_2h_8_4e_s_3m_-45_-14_2j_4s_-1o_x_-3p_2o_31_53_-e_1l_1a_2i_2k_3z_1u_3y_4p_-w_1w_-1j_-2c_3r_-8o_2r_i_4d_2m_g_4h_1i_2p_8i_1i_3q_-4k_5_2s_-22_-2a_3s_-76_2u_1g_4p_20_3a_-66_1b_22_-4o_2t_3l_4w_e_37_-44_-1h_2y_-10_-29_38_-4a_-2j_2c_-7v_2k_18_3n_-25_1r_8p_i_2v_8o_-j_3o_-7u_1n_24_8r_0_2d_-87_2v_2b_-47_2o_k_3x_2e_j_-47_-28_1z_-4h_-1q_1e_2k_-1v_34_3w_-2o_3b_69_2n_1c_39_-2m_29_8t_13_2a_8b_x_3v_-8u_2b_1d_-45_-1w_3n_-8l_1f_v_4v_-2a_3e_-4e_-2v_3x_3e_-1d_2m_4h_-4_1k_-4h_1b_11_-7a_1z_%22%2C%22cx%22%3A-36.990251282197654%2C%22cy%22%3A12.25417913146126%2C%22sw%22%3A739.498057104978%2C%22sh%22%3A304.32018810904435%2C%22z%22%3A0.7503933398256794%7D&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;att=true&amp;width=960&amp;height=485"></iframe>
          </div>
        </div>
      </div>
	  </div>
	  </div>
	  <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>Casos Destacados</h4>
            <div class="hline-w"></div>
              <ul>
                <li>
                  <a href="/jp-morgan">Caso JP Morgan</a>
                </li>
                <li>
                  <a href="/narcodelta">Caso Narcodelta</a>
                </li>
              </ul>
            </div>
          <div class="col-lg-4">
            <h4>Quiénes Somos</h4>
            <div class="hline-w"></div>
            <p>
              Somos un equipo multi-disciplinario conformado en el marco del episodio HackHackers '14 abocado a la disponibilización
              de información sobre lavado de dinero en Latinoamérica, brindando una plataforma colaborativa de datos abiertos.
            </p>
          </div>
          <div class="col-lg-4">
            <h4>Nuestra presencia en Redes Sociales</h4>
            <div class="hline-w"></div>
            <p>
              <a href="#" onclick="alert('Estamos aún trabajando en nuestra presencia online.'); return false;"><i class="fa fa-facebook"></i></a>
              <a href="#" onclick="alert('Estamos aún trabajando en nuestra presencia online.'); return false;"><i class="fa fa-twitter"></i></a>
              <a href="#" onclick="alert('Estamos aún trabajando en nuestra presencia online.'); return false;"><i class="fa fa-google-plus"></i></a>
            </p>
          </div>
        </div>
      </div>
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/retina-1.1.0.js"></script>
  </body>
</html>
