<html lang="es-AR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lavado de Dinero en Latinoamérica">
    <meta name="author" content="Grupo de Lavado de Dinero - HackHackers Buenos Aires">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>Lavado de Dinero en Latinoamérica</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <script src="/assets/js/modernizr.js"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Lavado De Dinero</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
          </ul>
        </div>
      </div>
    </div>
	  <div id="headerwrap">
	    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="article">
              <h1>Narcodelta: cocaína y negocios inmobliarios</h1>
              <p>
                Una banda liderada por narcos colombianos lavaba dinero a través de inversiones inmobiliarias en lujosos countries del partido de Tigre, en el norte del Gran Buenos Aires.
              </p>
              <p>
                Tras la pantalla de mostrarse como empresarios prósperos que vivían en millonarias casas y se movilizaban en autos de alta gama, se escondía una organización que se dedicaba a lavar el dinero producto del tráfico de cocaína.
              </p>
              <p>
                Fuerzas coordinadas de la policía Federal, bonaerense y Metropolitana, después de 14 meses de investigación, desarticularon esa organización narcocriminal, detuvieron a doce de sus integrantes y secuestraron 114 kilos de cocaína ocultos en el fondo falso de una camioneta 4x4 guardada en un garaje de Retiro.  
              </p>
              <p>
                El operativo, denominado "Fondo Blanco", realizado con la colaboración de la Secretaría de Inteligencia (SI), contó con una serie de procedimientos en el barrio Los Castores -ubicado en la exclusiva “ciudad pueblo” Nordelta-, en los countries Santa Catalina y Marinas Golf, todos ellos en el partido de Tigre. A ellos se sumaron operativos en los barrios porteños de Palermo y Constitución, y en la localidad bonaerense de Pinamar. 
              </p>
              <p>
                Uno de los que vivía en el country Los Castores, en Nordelta, era el colombiano Jesús Antonio Yepes Gaviria, detenido y procesado actualmente, sospechado de tener a su cargo el lavado de dinero producto del tráfico de la cocaína. Durante la investigación, se realizaron escuchas telefónicas en las que se detectaron contactos entre Yepes Gaviria y quien sería el arquitecto Walter Mosca, uno de los principales constructores en Nordelta, hablando acerca del lavado de dinero.
              </p>
              <p>
                Otro de los negocios montados en Nordelta por la organización narco para lavar el dinero producto del tráfico de droga era, llamativamente, un lavadero para autos de alta gama.
              </p>
            </div>
          </div>
        </div>
      </div>
	  </div>
	  </div>
	  <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>Casos Destacados</h4>
            <div class="hline-w"></div>
              <ul>
                <li>
                  <a href="#">Caso JP Morgan</a>
                </li>
                <li>
                  <a href="#">Caso Narcodelta</a>
                </li>
              </ul>
            </div>
          <div class="col-lg-4">
            <h4>Quiénes Somos</h4>
            <div class="hline-w"></div>
            <p>
              Somos un equipo multi-disciplinario conformado en el marco del episodio HackHackers '14 abocado a la disponibilización
              de información sobre lavado de dinero en Latinoamérica, brindando una plataforma colaborativa de datos abiertos.
            </p>
          </div>
          <div class="col-lg-4">
            <h4>Nuestra presencia en Redes Sociales</h4>
            <div class="hline-w"></div>
            <p>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </p>
          </div>
        </div>
      </div>
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/retina-1.1.0.js"></script>
  </body>
</html>
